<h1>Listing movies_players</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies_players.each do |movies_player| %>
  <tr>
    <td><%= link_to 'Show', movies_player %></td>
    <td><%= link_to 'Edit', edit_movies_player_path(movies_player) %></td>
    <td><%= link_to 'Destroy', movies_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movies player', new_movies_player_path %>
